/* Styling for all devices */

body {
    background-color: #06bbff;
    color: white;
    margin: 0px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    
}

a {
    word-wrap: break-word;
}

/* Styling for scrollbar */
::-webkit-scrollbar{ 
    width: 10px;
}

::-webkit-scrollbar-track{ /* background colour of the scroll bar */
    background:  white;
}

::-webkit-scrollbar-thumb{ /* background colour of the scroll bar button */
    background: #007cab;
}

::-webkit-scrollbar-thumb:hover{
    background: #90e1ff;
}

#wHome{
    height: 100vh;
    align-content: center;
    background-color:  #06bbff;
}

#wAbout{
    background-color: black;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

#wWork{
    align-content: center;
    background-color:  #06bbff;
}

#wContact{
    height: 100vh;
    background-color: black;
}

#bodycontent1{
    margin-top: 60%;
    display: inline-block;
    width: 80%;
    padding-top: 50px;
    margin-left: 10%;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
}
#bodycontent2{
    width: 80%;
    padding-top: 100px;
    margin-left: 10%;
    border: 2px solid white;
    padding: 5px;
}

#bodycontent3{
    display: inline-block;
    width: 80%;
    padding-top: 50px;
    margin: 15% 0% 5% 10%;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
}
#bodycontent4{
    margin-top: 60%;
    display: inline-block;
    width: 80%;
    padding-top: 50px;
    margin-left: 10%;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
}

.websiteBox{
    padding: 15px;
    width: 90%;
    display: inline-block;
}

#workHeader{
    border-bottom: 2px solid white;
}

/* Styling for the down arrow */

#arrow {
    margin-top: 20px;
    text-align: center;
    display: block;
}

.fa-chevron-down{
    color: white;
    text-decoration: none;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-10px);
    }
  }




/* Styling for mobile */

/* Styling for navbar */
.navbar{
    background-color: black;
    display: block;
    top: 0;
    position: fixed;
    width: 100%;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    clear: none;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    
}

#mainnav{
    border-bottom: 2px solid  #06bbff;
}

ul{
    display: inline-block;
    list-style-type: none;
}

li{
    width: 21%;
    float: left;
    font-size: medium;
    color: white;
}

li a {
    display: block;
    color : white;
    text-align: center;
    text-decoration: none;
    margin-left: 0px;
    padding-left: 0px;
}

.navbartext{
    padding-right: 10px;
    padding-bottom: 5px;
}

.navbartext:hover{
    border-bottom: 1px solid white;
}

p{
    font-size: 20px;
}

#hyperlink{
    font-size: 20px;
}

.hyperlinkLabel{
    font-size: 20px;
}

/* Styling for the Linkedin & Github buttons */

#desktopicons {
    display: none;
}

#mobileicons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contactButton{
    text-align: center;
    display:block;
}

.contactButtons{
    display:inline-block;
}
.indexImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#workWrapper{
    margin: 100px 50px 0px 50px;
}

/* Styling for devices larger than mobiles */
@media only screen and (min-width: 768px ) {
    
    /* Styling for navbar */
    .navbar{
        background-color: black;
        display: block;
        top: 0;
        position: fixed;
        width: 100%;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
        clear: none;
        margin-bottom: 0px;
    }

    ul{
        display: inline-block;
        list-style-type: none;
        background-color: black;
        overflow: hidden;
    }

    li{
        width: 100px;
        float: left;
        background-color: black;
    }

    li a {
        display: block;
        color : white;
        text-align: center;
        text-decoration: none;
        background-color: black;
        font-size: large;
    }

    .navbartext{
        padding: 5px;
    }

    .navbartext:hover{
        border-bottom: 1px solid white;
    }

    p{
        font-size: 30px;
    }

    /* Styling for the Linkedin & Github buttons */
    #desktopicons{
        display: inline;
        float: right;
    }

    .navbarbuttons{
        display: none;
    }

    .desktoplink{
        display: inline-block;
        width: 50px;
    }

    #mobileicons{
        display: none;
    }
    /* Index page styling */
    #wHome{
        height: 100vh;
        align-content: center;
        background-color:  #06bbff;
    }
    
    #wAbout{
        height: 100vh;
        background-color: black;
        align-content: center;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #wWork{
        align-content: center;
        background-color:  #06bbff;
    }
    
    #wContact{
        height: 100vh;
        background-color: black;
    }
    #bodycontent1{
        margin-top: 20%;
        display: inline-block;
        width: 80%;
        padding-top: 50px;
        margin-left: 10%;
        border: 2px solid white;
        padding: 5px;
        text-align: center;
    }
    #bodycontent2{
        margin-top: 10%;
        margin-right: 10%;
        display: inline-block;
        border: 2px solid white;
        text-align: center;
    }
    #bodycontent3{
        margin-top: 15%;
        display: inline-block;
        width: 80%;
        padding-top: 50px;
        margin-left: 10%;
        border: 2px solid white;
        padding: 5px;
        text-align: center;
    }
    #bodycontent4{
        margin-top: 20%;
        display: inline-block;
        width: 80%;
        padding-top: 50px;
        margin-left: 10%;
        border: 2px solid white;
        padding: 5px;
        text-align: center;
    }
    .indexImg{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    #hyperlink{
        font-size: 30px;
    }

    .hyperlinkLabel{
        font-size: 30px;
    }

    .websiteBox{
        padding: 15px;
        width: 45%;
        display: inline-block;
    }

    /* Styling for the down arrow */

    #arrow {
        margin-top: 20px;
        text-align: center;
        display: block;
        padding: 5px;
        overflow-y: hidden;
    }

    .fa-chevron-down{
        color: white;
        text-decoration: none;
    }
    .bounce {
        -moz-animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
    }
    
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        }
        40% {
        transform: translateY(-10px);
        }
        60% {
        transform: translateY(-10px);
        }
    }

    /* Styling for scrollbar */
    ::-webkit-scrollbar{ 
        width: 10px;
    }

    ::-webkit-scrollbar-track{ /* background colour of the scroll bar */
        background:  white;
    }

    ::-webkit-scrollbar-thumb{ /* background colour of the scroll bar button */
        background: #007cab;
    }

    ::-webkit-scrollbar-thumb:hover{
        background: #90e1ff;
    }

    
}

