/* Styling for all devices */

body {
    background-color: #06bbff;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}



#contentwrapper1{
    height: 100vh;
    align-content: center;
    background-color:  #06bbff;
}

#contentwrapper2{
    height: 100vh;
    align-content: center;
    background-color: black;
}

#contentwrapper3{
    height: 100vh;
    align-content: center;
    background-color:  #06bbff;
}

#contentwrapper4{
    height: 100vh;
    align-content: center;
    background-color: black;
}

.bodycontent{
    margin-left: 10%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 80;
    width: 80%;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
}

/* Styling for scrollbar */
::-webkit-scrollbar{ 
    width: 10px;
}

::-webkit-scrollbar-track{ /* background colour of the scroll bar */
    background:  white;
}

::-webkit-scrollbar-thumb{ /* background colour of the scroll bar button */
    background: #007cab
}

::-webkit-scrollbar-thumb:hover{
    background: #90e1ff;
}

/* Styling for mobile */

/* Styling for navbar */
.navbar{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    top: 0;
}

ul{
    display: inline-block;
    list-style-type: none;
}

li{
    width: 20%;
    float: left;
}

li a {
    display: block;
    color : white;
    text-align: center;
    text-decoration: none;
    margin-left: 0px;
    padding-left: 0px;
}

.navbartext{
    padding-right: 10px;
    padding-bottom: 5px;
}

.navbartext:hover{
    border-bottom: 1px solid white;
}

p{
    font-size: 20px;
}

/* Styling for the Linkedin & Github buttons */

#desktopicons {
    display: none;
}

#mobileicons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styling for devices larger than mobiles */
@media only screen and (min-width: 768px){
    /* Styling for navbar */
    .navbar{
        text-align: center;
        width: 100%;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        margin: 0px;
        padding: 0px;
        position: fixed;
    }

    ul{
        display: inline-block;
        list-style-type: none;
    }

    li{
        width: 100px;
        float: left;
    }

    li a {
        display: block;
        color : white;
        text-align: center;
        text-decoration: none;
        
    }

    .navbartext{
        padding: 5px;
    }

    .navbartext:hover{
        border-bottom: 1px solid white;
    }

    p{
        font-size: 30px;
    }

    /* Styling for the Linkedin & Github buttons */
    #desktopicons{
        display: inline;
        float: right;
    }

    .navbarbuttons{
        display: none
    }

    .desktoplink{
        display: inline-block;
        width: 50px;
    }

    #mobileicons{
        display: none;
    }
    
}

.contactButton{
    font-size: 30px;
    text-align: center;
    display:block;
}

.contactButtons{
    display:inline-block;
}
