#Vector_12, #Vector_13, #Vector_14, #Vector_15{
    animation: rotateRight 7s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#Vector_16, #Vector_17, #Vector_18, #Vector_19, #Vector_20, #Vector_21, #Vector_22{
    animation: rotateLeft 9s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#Vector_23, #Vector_24 {
    animation: grow 5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#Vector_25, #Vector_26 {
    animation: grow 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#ribbon{
    animation: sway 5s linear infinite;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes rotateRight {
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes rotateLeft {
    from{
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}

@keyframes grow {
    0%{
        transform:scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
    
}

@keyframes sway {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(7deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(-7deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

