/* Styling for navbar */
.navbar {
  background-color: black;
  display: block;
  top: 0;
  position: fixed;
  width: 100%;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  clear: none;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
}

.navbar ul {
  display: inline-block;
  list-style-type: none;
}

.navbar li {
  width: 21%;
  float: left;
  font-size: medium;
  color: white;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-left: 0px;
  padding-left: 0px;
  font-size: small;
}

.navbar .navbartext {
  padding-right: 10px;
  padding-bottom: 5px;
}

.navbar .navbartext:hover {
  border-bottom: 1px solid white;
}

.navbar p {
  font-size: 20px;
}

.navbar #hyperlink {
  font-size: 20px;
}

.navbar .hyperlinkLabel {
  font-size: 20px;
}

#mainnav {
  border-bottom: 2px solid #06bbff;
}

@media only screen and (min-width: 768px) {
  /* Styling for navbar */
  .navbar {
    background-color: black;
    display: block;
    top: 0;
    position: fixed;
    width: 100%;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    clear: none;
    margin-bottom: 0px;
  }
  .navbar ul {
    display: inline-block;
    list-style-type: none;
    background-color: black;
    overflow: hidden;
  }
  .navbar li {
    width: 100px;
    float: left;
    background-color: black;
  }
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    font-size: large;
  }
  .navbar li a:hover {
    color: #06bbff;
  }
  .navbar .navbartext {
    padding: 5px;
    border-bottom: 1px solid black;
  }
  .navbar .navbartext:hover {
    border-bottom: 1px solid #06bbff;
  }
}

#arrow {
  margin-top: 20px;
  text-align: center;
  display: block;
}

.fa-chevron-down {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@media only screen and (min-width: 768px) {
  #arrow {
    margin-top: 20px;
    text-align: center;
    display: block;
  }
  .fa-chevron-down {
    color: white;
    text-decoration: none;
    font-size: 3em;
  }
  .bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* background colour of the scroll bar */
  background: white;
}

::-webkit-scrollbar-thumb {
  /* background colour of the scroll bar button */
  background: #007cab;
}

::-webkit-scrollbar-thumb:hover {
  background: #90e1ff;
}

#Vector_12, #Vector_13, #Vector_14, #Vector_15 {
  -webkit-animation: rotateRight 7s infinite linear;
          animation: rotateRight 7s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Vector_16, #Vector_17, #Vector_18, #Vector_19, #Vector_20, #Vector_21, #Vector_22 {
  -webkit-animation: rotateLeft 9s infinite linear;
          animation: rotateLeft 9s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Vector_23, #Vector_24 {
  -webkit-animation: grow 5s linear infinite;
          animation: grow 5s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Vector_25, #Vector_26 {
  -webkit-animation: grow 2s linear infinite;
          animation: grow 2s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#ribbon {
  -webkit-animation: sway 5s linear infinite;
          animation: sway 5s linear infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
  transform-box: fill-box;
}

@-webkit-keyframes rotateRight {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateRight {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rotateLeft {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes rotateLeft {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes sway {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(7deg);
            transform: rotateZ(7deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(-7deg);
            transform: rotateZ(-7deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes sway {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(7deg);
            transform: rotateZ(7deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(-7deg);
            transform: rotateZ(-7deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #06bbff;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* Styling for mobile */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #06bbff;
  color: white;
  margin: 0px;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

body a {
  word-wrap: break-word;
}

#wHome {
  height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #06bbff;
}

#wHome #bodycontent1 {
  margin-top: 60%;
  display: inline-block;
  width: 80%;
  padding-top: 50px;
  margin-left: 10%;
  border: 2px solid white;
  padding: 5px;
  text-align: center;
}

#wAbout {
  background-color: black;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

#wAbout #backgroundContainer {
  overflow-y: hidden;
  height: 100vh;
  background-color: black;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow-x: hidden;
}

#wAbout #backgroundContainer #backgroundContent {
  margin-top: 15%;
  margin-bottom: -50px;
}

#wAbout #backgroundContainer #gradHatDesktop {
  display: none;
}

#wAbout #backgroundContainer #gradHatMobile {
  display: inline-block;
}

#wAbout #backgroundContainer #gradSVGContainerMobile {
  width: 50%;
  float: right;
}

#wAbout #backgroundContainer .bodycontent2 {
  width: 80%;
  padding-top: 100px;
  margin-left: 10%;
  padding: 5px;
  width: auto;
  top: 400px;
}

#wAbout #backgroundContainer .bodycontent2 h1 {
  color: #06bbff;
}

#wAbout #backgroundContainer .bodycontent2 p {
  font-size: large;
  text-align: left;
}

#wAbout #backgroundContainer #skillsContent h1 {
  color: #06bbff;
  text-align: left;
}

#wAbout #skillsContainer {
  overflow-y: hidden;
}

#wAbout #skillsContainer .bodycontent2 h1 {
  color: #06bbff;
}

#wWork {
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #06bbff;
  margin-bottom: 20px;
}

#wWork .workContainer {
  margin-left: 10%;
  margin-right: 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

#wWork #bodycontent3 {
  margin-top: 15%;
  display: inline-block;
  width: 100%;
  border: 2px solid white;
  text-align: center;
  scroll-behavior: smooth;
}

#wWork #bodycontent3 h1 {
  width: 100%;
}

#wWork #bodycontent3 h2 {
  font-size: x-large;
  font-weight: 500;
}

#wWork #bodycontent3 h3 {
  display: inline-block;
  font-size: x-large;
  font-weight: 700;
}

#wWork .websiteImg {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#wContact {
  height: 100vh;
  background-color: black;
}

#wContact #bodycontent4 {
  margin-top: 60%;
  display: inline-block;
  width: 80%;
  padding-top: 50px;
  margin-left: 10%;
  border: 2px solid white;
  padding: 5px;
  text-align: center;
}

#wContact li {
  width: 100px;
  float: left;
  background-color: black;
}

#wContact li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: black;
  font-size: x-large;
}

#skillsImg {
  display: none;
}

#mobileSkillsImg {
  display: inline-block;
  width: 100%;
  margin-left: 10%;
}

/* Styling for the Linkedin & Github buttons */
#desktopicons {
  display: none;
}

#mobileicons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contactButton {
  text-align: center;
  display: block;
}

.contactButtons {
  display: inline-block;
}

/* Styling for devices larger than mobiles */
@media only screen and (min-width: 1000px) {
  p {
    font-size: 25px;
  }
  #bodyWrapper {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    overflow-x: hidden;
  }
  /* Styling for the Linkedin & Github buttons */
  #desktopicons {
    display: inline;
    float: right;
  }
  .desktoplink {
    display: inline-block;
    width: 50px;
  }
  #mobileicons {
    display: none;
  }
  /* Index page styling */
  .bodyBlock {
    scroll-snap-align: start;
  }
  #wHome {
    height: 100vh;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #06bbff;
  }
  #wHome #bodycontent1 {
    margin-top: 20%;
    display: inline-block;
    width: 80%;
    padding-top: 50px;
    margin-left: 10%;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    scroll-behavior: smooth;
  }
  #wAbout #backgroundContainer {
    height: 100vh;
    background-color: black;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #wAbout #backgroundContainer #backgroundContent {
    width: 800px;
  }
  #wAbout #backgroundContainer #gradSVGContainer {
    display: inline-block;
    margin-top: 100px;
    width: 30%;
    padding-top: 100px;
    padding-left: 200px;
  }
  #wAbout #backgroundContainer #gradHatDesktop {
    display: inline-block;
  }
  #wAbout #backgroundContainer #gradHatMobile {
    display: none;
  }
  #wAbout #backgroundContainer .bodycontent2 {
    margin-left: 100px;
    display: inline-block;
    border: 2px solid #06bbff;
    padding: 30px;
    width: 500px;
    top: 400px;
  }
  #wAbout #backgroundContainer .bodycontent2 h1 {
    color: #06bbff;
  }
  #wAbout #backgroundContainer .bodycontent2 p {
    font-size: x-large;
    text-align: left;
  }
  #wAbout #skillsContainer {
    height: 100vh;
    max-height: 100vh;
    background-color: black;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
  }
  #wAbout #skillsContainer #skillsContent {
    top: 150px;
    position: absolute;
    width: 800px;
  }
  #wAbout #skillsContainer .bodycontent2 {
    margin-left: 100px;
    display: inline-block;
    border: 2px solid #06bbff;
    padding: 30px;
    width: 500px;
    top: 400px;
  }
  #wAbout #skillsContainer .bodycontent2 h1 {
    color: #06bbff;
  }
  #wAbout #skillsContainer .bodycontent2 p {
    font-size: x-large;
    text-align: left;
  }
  #wAbout #skillsContainer #skillsImg {
    display: inline-block;
  }
  #wAbout #skillsContainer #mobileSkillsImg {
    display: none;
  }
  #wWork {
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #06bbff;
    margin-bottom: 20px;
  }
  #wWork .workContainer {
    margin-left: 10%;
    margin-right: 10%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #wWork #bodycontent3 {
    margin-top: 15%;
    display: inline-block;
    padding-top: 50px;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    scroll-behavior: smooth;
  }
  #wWork #bodycontent3 h3 {
    display: none;
  }
  #wWork .websiteImg {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  #wContact {
    height: 100vh;
    background-color: black;
  }
  #wContact #bodycontent4 {
    margin-top: 20%;
    display: inline-block;
    width: 80%;
    padding-top: 50px;
    margin-left: 10%;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    scroll-behavior: smooth;
  }
  #wContact li {
    width: 100px;
    float: left;
    background-color: black;
  }
  #wContact li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    font-size: xx-large;
  }
}
/*# sourceMappingURL=style.css.map */