@import './variables';
@import './navbar';
@import './arrow';
@import './scrollbar';
@import './gradsvg';
@import './modal';

/* Styling for mobile */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $primaryColour;
    color: white;
    margin: 0px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    a {
        word-wrap: break-word;
    }
}

#wHome{
    height: 100vh;
    align-content: center;
    background-color:  $primaryColour;
    #bodycontent1{
        margin-top: 60%;
        display: inline-block;
        width: 80%;
        padding-top: 50px;
        margin-left: 10%;
        border: 2px solid white;
        padding: 5px;
        text-align: center;
    }
}

#wAbout{
    background-color: black;
    text-align: center;
    padding: 20px 0px 20px 0px;
    #backgroundContainer{
        height: 100vh;
        background-color: black;
        align-content: center;
        overflow-x: hidden;
        #backgroundContent{
            margin-top: 15%;
            margin-bottom: -50px;
        }
        #gradHatDesktop{
            display: none;
        }
        #gradHatMobile{
            display: inline-block;
        }
        #gradSVGContainerMobile{
            width: 50%;
            float: right;
        }
        .bodycontent2{
            width: 80%;
            padding-top: 100px;
            margin-left: 10%;
            padding: 5px;
            width: auto;
            top: 400px;
            h1 {
                color: $primaryColour;
            }
            p {
                font-size: large;
                text-align: left;
            }
        }
        #skillsContent {
            h1 {
                color: $primaryColour;
                text-align: left;
            }
        }
    }
    #skillsContainer{
        .bodycontent2{
            h1 {
                color: $primaryColour;
            }
        }
    }
}

#wWork{
    align-content: center;
    background-color:  $primaryColour;
    margin-bottom: 20px;
    .workContainer{
        margin-left: 10%;
        margin-right: 10%;
        align-content: center;
    }
    #bodycontent3{
        margin-top: 15%;
        display: inline-block;
        width: 100%;
        border: 2px solid white;
        text-align: center;
        scroll-behavior: smooth;
        h1 {
            width: 100%;
        }
        h2 {
            font-size: x-large;
            font-weight: 500;
        }
        h3{
            font-size: x-large;
            font-weight: 700;
        }
    }
    .websiteImg{
        height: 400px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

#wContact{
    height: 100vh;
    background-color: black;
    #bodycontent4{
        margin-top: 60%;
        display: inline-block;
        width: 80%;
        padding-top: 50px;
        margin-left: 10%;
        border: 2px solid white;
        padding: 5px;
        text-align: center;
    }
    li{
        width: 100px;
        float: left;
        background-color: black;
    }
    li a {
        display: block;
        color : white;
        text-align: center;
        text-decoration: none;
        background-color: black;
        font-size: x-large;
    }
}

#skillsImg{
    display: none;
}
#mobileSkillsImg{
    display: inline-block;
    width: 100%;   
    margin-left: 10%;
}
/* Styling for the Linkedin & Github buttons */

#desktopicons {
    display: none;
}

#mobileicons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contactButton{
    text-align: center;
    display:block;
}

.contactButtons{
    display:inline-block;
}



/* Styling for devices larger than mobiles */
@media only screen and (min-width: 1000px ) {

    
    p{
        font-size: 25px;
    }

    #bodyWrapper{
        scroll-snap-type: y mandatory;
        overflow-x: hidden;
    }

    /* Styling for the Linkedin & Github buttons */
    #desktopicons{
        display: inline;
        float: right;
    }

    .desktoplink{
        display: inline-block;
        width: 50px;
    }

    #mobileicons{
        display: none;
    }
    /* Index page styling */
    .bodyBlock{
        scroll-snap-align: start;
    }

    #wHome{
        height: 100vh;
        align-content: center;
        background-color:  $primaryColour;
        #bodycontent1{
            margin-top: 20%;
            display: inline-block;
            width: 80%;
            padding-top: 50px;
            margin-left: 10%;
            border: 2px solid white;
            padding: 5px;
            text-align: center;
            scroll-behavior: smooth;
        }
    }
    
    #wAbout{
        #backgroundContainer{
            height: 100vh;
            background-color: black;
            align-content: center;
            overflow-x: hidden;
            #backgroundContent{
                width: 800px;
            }
            #gradSVGContainer{
                display: inline-block;
                margin-top: 100px;
                width: 30%;
                padding-top: 100px;
                padding-left: 200px;
            }
            #gradHatDesktop{
                display: inline-block;
            }
            #gradHatMobile{
                display: none;
            }
            .bodycontent2{
                margin-left: 100px;
                display: inline-block;
                border: 2px solid $primaryColour;
                padding: 30px;
                
                width: 500px;
                top: 400px;
                h1 {
                    color: $primaryColour;
                }
                p {
                    font-size: x-large;
                    text-align: left;
                }
            }
        }
        #skillsContainer{
            height: 100vh;
            max-height: 100vh;;
            background-color: black;
            align-content: center;
            overflow-x: hidden;
            position: relative;
            #skillsContent{
                top: 150px;
                position: absolute;
                width: 800px;
            }
            .bodycontent2{
                margin-left: 100px;
                display: inline-block;
                border: 2px solid $primaryColour;
                padding: 30px;
                width: 500px;
                top: 400px;
                h1 {
                    color: $primaryColour;
                }
                p {
                    font-size: x-large;
                    text-align: left;
                }
            }
            #skillsImg{
                display: inline-block;
                
            }
            #mobileSkillsImg{
                display: none;
            }
        }
    }

    #wWork{
        align-content: center;
        background-color:  $primaryColour;
        margin-bottom: 20px;
        .workContainer{
            margin-left: 10%;
            margin-right: 10%;
            align-content: center;
        }
        #bodycontent3{
            margin-top: 15%;
            display: inline-block;
            
            padding-top: 50px;
            border: 2px solid white;
            padding: 5px;
            text-align: center;
            scroll-behavior: smooth;
        }
        .websiteImg{
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }
    
    #wContact{
        height: 100vh;
        background-color: black;
        #bodycontent4{
            margin-top: 20%;
            display: inline-block;
            width: 80%;
            padding-top: 50px;
            margin-left: 10%;
            border: 2px solid white;
            padding: 5px;
            text-align: center;
            scroll-behavior: smooth;
        }
        li{
            width: 100px;
            float: left;
            background-color: black;
        }
        li a {
            display: block;
            color : white;
            text-align: center;
            text-decoration: none;
            background-color: black;
            font-size: xx-large;
        }
    }
}

